html, body {
  margin: 0;
  padding: 0;
  /* max-width: 500px; */
  margin: auto;
  background: white;
  padding: 10px;
}
canvas {
  display: block;
}

#log{
  /* max-width: 500px; */
  margin: auto;
  text-align: center;
  background: white;
  padding: 10px;
}
